// 定义不同尺寸的圆角变量
$border-radius-none: 0px;
$border-radius-xs: 2px;
$border-radius-sm: 4px;
$border-radius-base: 6px;
$border-radius-md: 8px;
$border-radius-lg: 12px;
$border-radius-xl: 16px;
$border-radius-2xl: 24px;
$border-radius-3xl: 32px;
$border-radius-full: 9999px;
