@import 'tailwindcss';
@plugin "daisyui" {
  themes: light --default, dark --prefersdark, emerald;
}
html {
  scroll-behavior: smooth; /* 实现平滑滚动 */
  font-family: 'Poppins', 'Noto Sans SC', sans-serif;
}
